:root {

    --theme: #9e2a2b;
    --theme-gold: #df8954;
    --theme-light: #df5454;
    

}
* {
    font-size: 2.5vh;
    margin: 0;
    padding: 0;
    font-family:  sans-serif, Helvetica, Arial, sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--theme);
    font-size: 30vh;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Sora', sans-serif;
    white-space: nowrap;
    margin: -22vh 0 0 -4vh;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* header and nav styles */

.double {
    margin-top: -17vh;
}

.nav-wrapper {
    padding-top: 5vh;
}

.topnav {
    display: none;
}

nav {
    padding-top: 4vh;
    display: none;
    direction: column;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-list li {
    border-radius: 1vh;
    border: 3px solid var(--theme);
    background-color: var(--theme);
    padding: .5vh;
    text-align: center;
    margin:0 1vh 1vh 0;
    width: 25vh;
    letter-spacing: .75vh;
}

.nav-list li:hover {
    opacity: 100%;
    border: 2px solid var(--theme);
}

.nav-list a {
    color: #fff;
}

.nav-list a:hover {
    color: var(--theme);
}

.nav-btn {
    color: #fff;
    font-size: 2.5vh;
    letter-spacing: 1vh;
}

.nav-btn:hover {
    color: var(--theme);
    opacity: 100%;
    background-color: #fff;
}

#menu-btn {

    color: #fff;
    font-size: 2.5vh;
    letter-spacing: 1vh;
    border-radius: 1vh;
    border: 3px solid var(--theme);
    background-color: var(--theme);
    padding: .5vh;
    margin-top: 5vh;
    text-align: center;
    letter-spacing: .75vh;
}

/* main styles */
main {
    width: 73.5vh;
    padding-bottom: 5vh;
    align-self: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.content-wrapper {
    min-height: 39.5vh;
    max-height: 39.5vh;
    width: 71vh;
    border-radius: 2vh 2vh 0 0;
}

.content {
    border: 3px solid var(--theme);
    height: 31vh;
}

.frame {
    display: flex;
    font-size: 3vh;
    padding: 1vh 0 0 3vh;
    border: 2px var(--theme) solid;
    border-radius: 2vh 2vh 0 0;
    background-color: var(--theme);
    color: #fff;
    height: 4vh;
    letter-spacing: 1vh;
}

.blank {
    font-size: 2vh;
    background-color: #fff;
    color: var(--theme);
    min-width: 60%;
    height: 3vh;
    border-radius: 2vh;
    padding-left: 4vh;
    margin-left: 3vh;
    align-items: center;
    text-align: left;
}

.img-content {
    width: 70.3vh;
    height: 38.3vh;
    border: 3px solid var(--theme);
}

.text-content {
    padding: 6vh 2vh 0 2vh;
    color: var(--theme);
}

.email-content {
    transform: translateY(6vh);
    text-align: center;
}

#section-title {
    align-self: center;
    margin: 2vh;    
}

.title-link {
color: var(--theme-gold);
text-decoration: underline;
padding: 1vh; 
}

.title-link:hover {
    color: var(--theme-light);
}

.title-link:active {
    color: red;
}

h2 {
    font-size: 7vh;
}

.buttons {
    display: block;
    text-align: center;
    font-size: 3vh;
    color: #fff;
}

.forward {
    border: none;
    color: var(--theme);
}

footer {
    display: none;
}

/* MEDIA QUERY FOR SCREENS LESS 1500px */
@media screen and (max-width: 1100px) {
    header {
        margin-top: -9vh;
    }
    .double {
        margin-top: -11vh;
    }
    .main-wrapper {
        margin-top: 3vh;
    }
}

/* MEDIA QUERY FOR SCREENS LESS 1000px */
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 20vh;
    }
    nav {
        padding-top: 2vh;
    }
    .main-wrapper {
        margin-top: 3vh;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    * {
        font-size: 2vh;
        list-style: none;
    }

    a {
        color: var(--theme);
    }
    .topnav a {
        color: #fff;
    }
    h1 {
        font-size: 5.5vh;
    }
    header {
        margin: -2vh 0 0 -2vh; 
        padding: 0;
    }
    #menu-btn {
        display: none;
    }
    nav {
        display: none;
    } 
    .topnav-bleed {
        background-color: var(--theme);
        margin: -1vh 0 0 0;
        padding: 0;
    }
    .topnav {
        display:block;
        text-align: right;
        margin: 1vh 1.5vh .5vh 1vh;
        padding-bottom: .5vh;
        letter-spacing: .5vh;
    }
    .hamburger-links {
        padding: 1vh 0 1vh 30vh;
        list-style-position: inside;
        width: min-content;
        z-index: -1;
        display: none;
    }
    .hamburger-links li:hover {
        background-color: #c4bbb1;
    }
    .topnav ul {
        transform: translateX(-4vh);
    }
    .topnav:active .hamburger-links {
        display: block;
    }
    .double {
        margin-top: -3vh;
    }
    .main-wrapper {
        display: flex;
        margin: 0;
        transform: scale(.85);
    }
    main {
        margin-top: 14vh;
        padding-bottom: 0;
        width: 44vh;
    }
    .content-wrapper {
        width: 44.25vh;
    }
    .content {
        background-size: 52.56vh 28.8vh;
        max-height: 26vh;
    }
    .img-content {
        height: 25vh;
        width: 43.5vh;
    }

    #section-title {
        margin: 0;
    }

    .blank {
        min-width: 40%;
    }
    footer {
        margin-top: 19vh;
        display: block;
    }
    footer ul {
        display: flex;
        justify-content: space-evenly;
    }
}