:root {

    --themecolor: rgb(182, 94, 67)

}
* {
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
a {
    color: var(--themecolor);
    text-decoration: none;
}
a:hover {
    font-style: italic;
}
body {
    margin: 0 50px 0 50px;
}
.sidebar {
    position: fixed;
    width: 220px;
    z-index: 9999;
    padding: 50px 20px 0 0;
    right: 0;

}
@font-face {
    font-family: 'gretoonhighlight';
    src: url("fonts/toonhighlight.ttf");
}

/* header styles */

header {
    text-align: right;
}
header ul {
    display: block;
    line-height: 1.75;
    padding: 0 20px 0 20px;
}
header ul li {
    opacity: 80%;
    padding: 10%;
}
header ul li:hover {
    opacity: 100%;
}
ul {
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: gretoonhighlight;
    font-size: 48px;
}

.intro p {
    font-style: italic;
    padding: 10px;
}
.headshot {   
    opacity: 50%;
    border-radius: 25% 25% 25% 0;
    width: 60%;
    height: auto;
    transform: scaleX(-1); 
}
.sidebarcartoon {
    transform: scaleX(-1); 
    padding-top: 100px;
    width: 80%;
    opacity: 75%;
}

/* sections styles */

.allsect {
    margin: 0 210px 0 5px;
    text-align: center;
    position: relative;
}
h2{
    text-align: center;
    color: rgb(48, 48, 48);
    font-size: 48px;
    padding-top: 50px;
    font-family: gretoonhighlight;
}
 

/* work section styles */

.worksection {
    display: flex;
    flex-direction: column;
}
.worksection article {
    padding: 7%;
}
.worksection p {
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
}
.work {
    display: block;
    width: 100%;
    height: auto;
    opacity: 50%;
    border-radius: 25px;
}
.worksectioncontainer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex: auto;
}
.item2, .item3 {
    display:flex;
}
.item2 {
    flex-direction: row-reverse;
}
.common {
    position: relative;
}
.work:hover {
    opacity: 100%;
}
span {
    position: absolute;
    width: 101%;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left:10px;
    text-align: left;
    overflow: hidden;
    transition: .5s ease;
    color: rgb(0, 0, 0);
}

article .common:hover span{
   height: 10%;
}


/* later section headings */

.contact h2, .about h2 {
    color: rgb(171, 171, 171);
}
.about p {
    padding-top: 30px;
}

/* contact section */
.contact {
    height: auto;
}
.contact-form h2 {
    color: rgb(182, 94, 67);
    font-weight: lighter;
}
.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(233, 193, 171);
    border-radius: 25%;
    margin: 5vw;
    width: 80%;
    padding: 3vw;
}

  .contact-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: rgba(255,255,255, 1);
  }
  .contact-form input, .contact-form textarea {
      border: none;
      display: block;
      padding: 15px;
      font-size: 16px;
      color: black;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 5px;
      border-radius: 10px;  
  }
  .contact-form input{    
      background-color: rgba(255,255,255, .75);
  }
  .contact-form input:focus {
      background-color: rgba(255,255,255, 1);
      outline: none;
  }
  .contact-form button {
      width: 90%;
      border: none;
      background: rgb(182, 94, 67);
      color: #ffffff;
      text-align: center;
      padding: 15px 0;
      font-size: 16px;
      border-radius: 10px;
  }
  .contact-form button:hover {
      color: rgb(182, 94, 67);
      background: rgb(245,245,220);
  }

/* footer styles */
  .theend ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 600px) {
    body {
        margin: 0 20px 0 20px;
    }
    h1 {
        font-size: 22px;
    }
    header {
        text-align: right;
        margin: 0 -100px 20px 0;
    }
    .sidebar {
        position: relative;
    }
    .sidebarcartoon {
        width: 20%;
        padding: 0 0 50px 0;
    }
    .allsect {
        margin: auto;
    }
    form {
        font-size: 14px;
        width: 130px;
        padding: 5px, 20px, 10px, 10px;

    }
    article p {
        font-size: 18px;
    }
    article {
        text-align: center;
    }
}
/* REACH OUT STYLES END */