:root {

    --theme-red: #9e2a2b;
    --theme-shadow: #540b0e;
    --theme-gold: #e09f3e;
    --theme-blue: #335c67;
    --off-white: #ebe6e1

}
* {
    font-size: 2.5vh;
    margin: 0;
    padding: 0;
    font-family:  sans-serif, Helvetica, Arial, sans-serif
}
a {
    color: var(--theme-gold);
    text-decoration: none;
}
p { 
    font-weight: lighter;
}
body {
    margin: 0 2vh 0 2vh;
}

/* header/sidebar styles */
.sidebar {
    position: fixed;
    margin-top: 4vh;
    right: 0; 
    padding: 3vh;
}
.sidebar h1 {
    line-height: 1.2;
}
header {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.avatar {
    max-width: 32vh;
    align-self: center;
}
header ul {
    display: block;
    line-height: 1.75;
}
nav {
    align-self: center;
}
.nav-list {
    list-style-type: none;
    text-align: center;
}
.nav-list li {
    border-radius: 1vh;
    border: 1px solid var(--off-white);
    opacity: 50%;
    padding: .5vh .5vh .5vh 3vh;
    text-align: left;
    margin-bottom: 1vh;
    width: 25vh;
}
.nav-list li:hover {
    font-style: italic;
    opacity: 100%;
    background-color: #000;
    color: #fff;
}
.nav-list a {
    color: #000;
}
.nav-list li:hover a {
    color: #fff;
}
nav {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 5vh;
    padding: 0;
    font-family: 'Libre Barcode 39 Extended Text', sans-serif;
}

.intro p {
    font-style: italic;
    font-size: 2vh;
    opacity: 75%;
    text-align: right;
    padding-right: 2vh;
}
.surname {
    color: var(--theme-shadow);
    font-style: bold;
    font-size: 4.5vh;
    letter-spacing: 1.5vh;
}

/* sections styles */

.main-content {
    text-align: center;
    position: relative;
    margin-left: 3vh;
}
.border-placeholder-div {
    width: 115vh;
    height:10vh;
    border-bottom: 3px solid var(--off-white);
    border-right: 3px solid var(--off-white);
}
h2{
    text-align: left;
    color: var(--theme-red);
    font-size: 5vh;
    font-family: 'Libre Barcode 39 Extended Text';
    padding: 1vh 0 2vh 2vh ;
    opacity: 50%;
}
.caption {
    font-size: 2vh;
    /* transform: translateY(-2.8vh); */
    background-color: rgba(255,255,255, .85);
}
.main-content-wrapper {
    width: 90%;
}

/* work section styles */

.worksection {
    display: flex;
    flex-direction: column;
    padding:0 2vh 8vh 0;
}
.worksection article {
    padding: 1vh;
    width: 25vh;
    margin: 1vh;
    align-self: center;
}
.work {
    width: 100%;
    opacity: 50%;
}

.worksectioncontainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10vh;
    text-align: center;
    justify-content: center;
}

.work:hover {
    opacity: 100%;
}

.hero {
    flex-grow: 2;
}



/* later section headings */

.about p {
    color: #000;
    padding: 5vh 0;
    font-size: .75em;
}


/* contact section */
.contact {
    height: auto;
    width: 90%;
}
.contact-form h2 {
    color: rgb(182, 94, 67);
    font-weight: lighter;
}


/* footer styles */
  .theend ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

/* MEDIA QUERY FOR SCREENS LESS 1000px */
@media screen and (max-width: 1000px) {
    .sidebar{
         padding: 6vh 6vh 0 0 ;
     } 
    .border-placeholder-div {
        width: 100vh;
    }
 }
/* MEDIA QUERY FOR SCREENS LESS 1000px */
@media screen and (max-width: 880px) {
    .border-placeholder-div {
        width: 60vh;
    }
    h1 {
        font-size: 3.5vh;
    }
 }
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    h1 {
        font-size: 36px;
    }
    header {
        width: 100%;
    }
    .sidebar {
        position: relative;
        width: auto;
        padding: 0;
    }
    .avatar {
        max-width: 25vh;
    }
    .border-placeholder-div {
        width: 40vh;
    }
    .worksection article {
        width: 60vh;
    }
}
/* REACH OUT STYLES END */